* {
    margin: 0;
    padding: 0;
}

.register-div {
    color: #020202;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .register-button {
        background-color: #020202;
    }
    .register-button:hover {
        background-color: #1976d2;
        color: #f2f2f2;
    }
}