* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

.main-cover {
    background-color: #f2f2f2;
    color: #020202;
    height: 100vh;

    .form-intro-text {
        text-align: center;
        font-size: 45px;
        margin-bottom: 15px;
    }

    .form-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-textfield {
            padding-bottom: 9px;
            width: 45vw;
        }
        
        .form-button {
            width: 20vw;
            margin-top: 15px;
            padding-bottom: 15px;
        }
    }

    .redirect-text {
        text-align: center;
        padding-bottom: 15px;

        a {
        text-decoration: none;
        color: #020202;
        }
    }
}

@media screen and (max-width: 800px) {
    .main-cover {
        .form-intro-text {
            padding-top: 25px !important;
        }

        .form-main {
            .form-textfield {
                padding-bottom: 12px !important;
                width: 90vw !important;
            }
            
            .form-button {
                width: 85vw !important;
                margin-top: 45px !important;
            }
        }
    }
}


